<nav class="navbar navbar-expand-md nav">
    <a class="navLabel navbar-brand" href="/">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="navLabel nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" href="/Books">
                    <i class="fas fa-book mr-2"></i>Books
                </a>
            </li>
            <li class="nav-item">
                <a class="navLabel nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" href="/Authors">
                    <i class="fas fa-pen mr-2"></i>Authors
                </a>
            </li>
            <li class="nav-item">
                <a class="navLabel nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" href="/Publishers">
                    <i class="fas fa-home"></i>Publishers
                </a>
            </li>
            <li class="nav-item">
                <a class="navLabel nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" href="/Search">
                    <i class="fas fa-search mr-2"></i>Search
                </a>
            </li>
            <li class="nav-item">
                <a class="navLabel nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" href="/About">
                    <i class="fas fa-user mr-2"></i>About
                </a>
            </li>
        </ul>
    </div>
</nav>