h1 {
    color: goldenrod;
    font-size: 2em;
    text-decoration: none;
}

a.link:hover,
a.dataLink:hover {
    color: gold;
}

a.link {
    color: rgb(230, 196, 6);
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}

p.heading {
    font-variant-caps: normal;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.rig-cell {
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

li {
    float: left;
    text-align: center;
    margin: 0 auto;
}

.columnHead {
    font-weight: bold;
}

h1.section {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

table {
    margin: auto;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(255, 215, 0, 0.3);
}

p.toolDesc {
    margin: 0px;
}

p.toolType {
    margin-bottom: -0.5em;
    font-weight: bold;
    text-align: center;
    color: goldenrod;
}

a.dataLink {
    font-weight: bold;
    color: goldenrod;
    font-size: 1.2em;
}

.tool,
.data,
.GLL {
    text-align: center;
    border-radius: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 215, 0, 0.15);
    width: 80%;
}