body {
    font-family: Lora;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, .65))), url(../img/Reading.jpg);
    background: linear-gradient(rgba(47, 23, 15, .65)), url(../img/Reading.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

h1 {
    background: url(../img/Gold.jpg) -80px -80px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 85px;
    font-family: 'Brush Script MT', cursive;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}

.box {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 231, 14, 0.2);
}

.quoter {
    font-style: italic;
    font-variant: small-caps;
}

p.quoter {
    margin-top: 2em;
    color: rgb(218, 165, 32);
}

p.lead {
    margin-bottom: 0px;
    margin-top: 2px;
    padding: 0px;
    color: white;
}

nav.nav {
    background-color: rgba(218, 165, 32, 0.2);
}

.navLabel {
    color: white;
}

.navLabel:hover {
    color: goldenrod;
}