div.foodName {
    font-weight: bold;
    font-size: 20px;
}

div.foodUser {
    font-size: 10px;
    font-style: italic;
    font-weight: lighter;
}

#rig {
    max-width: 900px;
    margin: 0 auto;
    /*center aligned*/
    padding: 0;
    font-size: 0;
    /* Remember to change it back to normal font size if have captions */
    list-style: none;
}

#rig li {
    display: inline-block;
    *display: inline;
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 1;
    padding: 2px;
}


/* The wrapper for each item */

.rig-cell {
    margin: 5px;
    background-color: rgba(108, 233, 233, .5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
    overflow: hidden;
}

.rig-cell-n {
    margin: 5px;
    display: block;
    position: relative;
    overflow: hidden;
}

/* If have the image layer */

.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

#rig li:hover .rig-img {
    transform: scale(1.05);
}


/* If have the overlay layer */

.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: gray url(img/link.png) no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For IE6 - IE8*/
    transition: all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity: 0.8;
}

.rig-text {
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: normal!important;
    top: 40%;
    color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(-20px);
    transition: all .3s;
}

#rig li:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width: 50%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width: 50%;
    }
}

img.homepic {
    position: relative;
    overflow: hidden;
    display: block;
    height: 160px;
    min-width: auto;
    max-width: 200px;
}

img.homepic-n {
    position: relative;
    overflow: hidden;
    display: block;
    height: 160px;
    min-width: auto;
    max-width: 100%;
    
}