.navbar {
    margin-bottom: 20px;
    background-color: rgba(211,211,211 ,0.8);

  }
.nav-home {
	color: rgba(102,102,102,1);
	font-family: 'Cookie',cursive; 
	font-size:35px;
	padding: 5px;

}
a:hover {
	color: rgba(32,32,32,1);
	text-decoration: none;
}
.nav-link {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	font-weight: bold;
}

