body {
    font-family: Lora;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

h1 {
    background: url(../img/Gold.jpg) -80px -80px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 85px;
    font-family: 'Brush Script MT', cursive;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}

nav.nav {
    height: 3em;
    background-color: rgba(218, 165, 32);
}

.navLabel {
    color: white;
}

.navLabel:hover {
    color: yellow;
}

table {
    margin: auto;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(255, 215, 0, 0.3);
}