form {
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
    border: gold;
}

p.no_res {
    padding-top: 2em;
    text-align: center;
}

div.search-container {
    display: block;
    text-align: center;
}

input {
    border: 0.5px solid goldenrod;
    width: 12em;
    height: 2em;
}

.submitBtn {
    color: black;
}