<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="/static/css/about.css" rel="stylesheet">
   <ul>
      <div class="rig-cell">
         <img src="/static/img/Sam.jpg" alt="Samuel Gutierrez" style="width:100%">
         <a class = "link" href="#"><i class="fa fa-dribbble"></i></a> 
         <a class = "link"  href="https://www.linkedin.com/in/samuel-gutierrez-a17298126/"><i class="fa fa-linkedin"></i></a>    
         <h1>Samuel Gutierrez </h1>
         <p class="title">Senior MIS</p>
         <p class = "heading">Post-Graduation Plans: </p>
         <p>Full-time with PepsiCo</p>
         <p class = "heading">Responsibilities:</p>
         <p> Back-end & Technical report</p>
      </div>
      <div class="rig-cell">
         <img src="/static/img/Ebrahim.jpg" alt="Ebrahim Haji" style="width:100%">
         <a class = "link" href="#"><i class="fa fa-dribbble"></i></a> 
         <a class = "link"  href="#"><i class="fa fa-linkedin"></i></a>    
         <h1>Ebrahim Haji</h1>
         <p class="title">Senior Math</p>
         <p class = "heading">Post-Graduation Plans: </p>
         <p>TBD</p>
         <p class = "heading">Responsibilities: </p>
         <p>Front-end & Technical report</p>
      </div>
      <div class="rig-cell">
         <img src="/static/img/Matthew.jpeg" alt="Matthew Perez" style="width:100%">
         <a class = "link" href="#"><i class="fa fa-dribbble"></i></a> 
         <a class = "link" href="https://www.linkedin.com/in/mathew-perez-95b7b013a/"><i class="fa fa-linkedin"></i></a>
         <h1>Matthew Perez</h1>
         <p class="title">Senior MIS</p>
         <p class = "heading">Post-Graduation Plans: </p>
         <p>Intern with Facebook</p>
         <p class = "heading">Responsibilities: </p>
         <p> Back-end</p>
      </div>
      <div class="rig-cell">
         <img src="/static/img/Celina.jpg" alt="Celina Rabe" style="width:100%">
         <a class = "link" href="#"><i class="fa fa-dribbble"></i></a> 
         <a class = "link" href="https://www.linkedin.com/in/celina-rabe/"><i class="fa fa-linkedin"></i></a>
         <h1>Celina Rabe</h1>
         <p class="title">Senior MIS</p>
         <p class = "heading">Post-Graduation Plans:</p>
         <p>TBD</p>
         <p class = "heading">Responsibilities: </p>
         <p> Back-end</p>
      </div>
      <div class="rig-cell">
         <img src="/static/img/Ruochen.jpg" alt="Ruochen Wu" style="width:100%">
         <a class = "link" href="https://ruochenwublog.wordpress.com/"><i class="fa fa-dribbble"></i></a> 
         <a class = "link" href="https://www.linkedin.com/in/ruochenwu/"><i class="fa fa-linkedin"></i></a>
         <h1>Ruochen Wu </h1>
         <p class="title">Senior MIS</p>
         <p class = "heading">Post-Graduation Plans: </p>
         <p>Full-time with EY</p>
         <p class = "heading">Responsibilities: </p>
         <p> Front-end</p>
      </div>
   </ul>
   <div class = "stats">
      <h1 class = "section">Stats</h1>

      <div class="GLL">
            <a class="dataLink" href="https://speakerdeck.com/ruoruowu/brains-behind-bits">Site Presentation</a>
      </div>
      <p></p>

      <table class = "index" style="width:80%">
         <tr>
            <td class = "columnHead">       
               Contributor
            </td>
            <td class = "columnHead">       
               Commits
            </td>
            <td class = "columnHead">       
               Issues 
            </td>
            <td class = "columnHead">       
               Unit Tests 
            </td>
         </tr>
         <tr>
            <td>Samuel Gutierrez</td>
            <td>33</td>
            <td>11</td>
            <td>3</td>
         </tr>
         <tr>
            <td>Ebrahim Haji</td>
            <td>28</td>
            <td>7</td>
            <td>3</td>
         </tr>
         <tr>
            <td>Matthew Perez</td>
            <td>34</td>
            <td>8</td>
            <td>3</td>
         </tr>
         <tr>
            <td>Celina Rabe</td>
            <td>33</td>
            <td>9</td>
            <td>3</td>
         </tr>
         <tr>
            <td> Ruochen Wu</td>
            <td>36</td>
            <td>10</td>
            <td>3</td>
         </tr>
      </table>
   </div>
   <h1 class="section">Unit tests</h1>
   <div class="GLL">
         <a class="dataLink" href= "/test">Run tests</a>
   </div>
    <h1 class = "section">GitLab Links</h1>
   <div class = "GLL">
     <p><a class = "dataLink" href="https://gitlab.com/Samuel33Developer/cs329e-idb/issues">Issue Tracker</a></p> 
     <p><a class = "dataLink" href="https://gitlab.com/Samuel33Developer/cs329e-idb/tree/master">Repo</a></p> 
     <p><a class = "dataLink" href="https://gitlab.com/Samuel33Developer/cs329e-idb/wikis/TechReport">Technical Report</a></p> 
   </div>
   <h1 class = "section">Data</h1>
   <div class = "data">
      <a class = "dataLink" href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Books JSON</a>
      <p>File of books, publishers, and authors.</p>
      <a class = "dataLink" href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Book Data</a>
      <p>Our data source includes data on over 50 books and their respective publishers and authors.</p>
 </div>
   <h1 class = "section">Tools</h1>
   <div class = "tool">
      <p class = "toolType">GCP:</p>
      <p class = "toolDesc">Site hosting</p>
      <p class = "toolType">GitLab:</p>
      <p class = "toolDesc"> Collaboration and code version control</p>
      <p class = "toolType">Flask:</p>
      <p class = "toolDesc"> Website structure</p>
      <p class = "toolType">HTML:</p>
      <p class = "toolDesc">Website templating</p>
      <p class = "toolType">Bootstrap & CSS:</p>
      <p class = "toolDesc">Design</p>
   </div>





</html>
{% endblock %}