<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}
<link href="/static/css/navOther.css" rel="stylesheet">
<!-- Create authors table and headers -->
<h1>Authors</h1>
<style>
  td {
    border: 1px solid goldenrod;
  }
</style>
<table style="width:100%" id="table_id3" class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col" onclick="sortTable(0)"><i class="fas fa-sort mr-2"></i>Name</th>
    <th scope="col" onclick="sortTable(1)"><i class="fas fa-sort mr-2"></i>Birth Date</th>
    <th scope="col" onclick="sortTable(2)"><i class="fas fa-sort mr-2"></i>Nationality</th>
    <th scope="col" onclick="sortTable(3)"><i class="fas fa-sort mr-2"></i>Education</th>
    <th scope="col" onclick="sortTable(4)"><i class="fas fa-sort mr-2"></i>Alma Mater</th>
  </tr>
</thead>

<!-- Populate authors data table-->
{% for author in authors%}
  <tbody>
    <tr>
    <td><a href="Authors/{{author.Author_name}}">{{author.Author_name}}</td>
    <td>{{author.Author_born}}</td>
    <td>{{author.Author_nationality}}</td>
    <td>{{author.Author_education}}</td>
    <td>{{author.Author_alma_mater}}</td>
    </tr>
  </tbody>
  {% endfor %}
     {{ pagination.links  }}
</table>
<!-- Implement sort functionality -->
<script>
    function sortTable(n) {
      // initialize all vars to 0
      var table, rows, will_switch, i, x, y, should_switch, directionection, cnt = 0;
      table = document.getElementById("table_id3");
      will_switch = true;
      // Set sort to ascending:
      direction = "asc"; 
      // loop until all swaps done
      while (will_switch) {
        will_switch = false;
        rows = table.rows;
        // look at all rows except headers
        for (i = 1; i < (rows.length - 1); i++) {
          should_switch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          // check if a swap is necessary
          if (direction == "asc") {
            if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
              should_switch = true;
              break;
            }
          } else if (direction == "desc") {
            if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
              should_switch = true;
              break;
            }
          }
        }
        if (should_switch) {
          // if a switch marked, make the switch
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          will_switch = true;
          cnt ++; 
        } else {
          if (direction == "asc" && cnt == 0) {
            direction = "desc";
            will_switch = true;
          }
        }
      }
    }
    </script>
{% endblock %}
