<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}

<h4 class="mb-3">Author Info</h4>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{book.Author_name}}</dd>

        <dt>Books:</dt>
        <dd>
        <ol>
        {% for authbooks in Author_Books %}
            <li><a href="/Books/{{authbooks.Book_id}}">{{authbooks.Book_title}}</a></li>
        {% endfor %}
        </ol>
        </dd>

        <dt>Publishers:</dt>
        <dd>
        <ol>
        {% for pubbooks in Publisher_Books %}
            <li><a href="/Publishers/{{pubbooks.Publisher_name}}">{{pubbooks.Publisher_name}}</a></li>
        {% endfor %}
        </ol>
        </dd>

        <dt>Date of Birth:</dt>
        <dd>{{book.Author_born}}</dd>

        <dt>Nationality:</dt>
        <dd>{{book.Author_nationality}}</dd>

        <dt>Education:</dt>
        <dd>{{book.Author_education}}</dd>

        <dt>Alma Mater:</dt>
        <dd>{{book.Author_alma_mater}}</dd>

        <dt>Description:</dt>
        <dd>{{book.Author_description}}</dd>

        <dt>Wikipedia URL:</dt>
        <dd><a href="{{book.Author_wikipedia_url}}">{{book.Author_wikipedia_url}}</a></dd>

        <dt>Image:</dt>
        <dd><img src="{{book.Author_image_url}}"></dd>
</dl>



{% endblock %}