<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}
<!-- Create Books table -->
<h1>Books</h1>
<style>
    td {
     border: 1px solid black;
   }
</style>

<table style="width:100%" id="table_id2" class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col" onclick="sortTable(0)"><i class="fas fa-sort mr-2"></i>Name</th>
    <th scope="col" onclick="sortTable(1)"><i class="fas fa-sort mr-2"></i>ISBN</th>
    <th scope="col" onclick="sortTable(2)"><i class="fas fa-sort mr-2"></i>Publication Date</th>
    <th scope="col" onclick="sortTable(3)"><i class="fas fa-sort mr-2"></i>Authors</th>
    <th scope="col" onclick="sortTable(4)"><i class="fas fa-sort mr-2"></i>Publishers</th>
  </tr>
  </thead>

{% macro pagination_widget(pages, endpoint) %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for p in pages %}
        <li class="page-item {{p['class']}}">
            <a href="{{ url_for(endpoint, page = p['href'], **kwargs) }}"
                class="page-link"
                aria-label={{p['page']}}>
                <span aria-hidden="true">{{p['page_label'] | safe}}</span>
                <span class="sr-only">{{p['page_label'] | safe}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

<!-- Populate books table -->

{% macro pagination_widget(books, endpoint) %}
<nav aria-label="Book navigation example">
<ul class="pagination">
{% for book in books%}
  <tbody>
    <tr>
    <td><a href="Books/{{book.id}}">{{book.name}}</td>
    <td>{{book.isbn}}</td>
    <td>{{book.pub_date}}</td>
    <td><a href="/Authors/1">{{book.authors}}</td></a>
    <td><a href="/Publishers/1">{{book.publishers}}</td></a>
    </tr>
  </tbody>
  {% endfor %}
    </ul>
</nav>
{% endmacro %}


    <!-- Implement sort functionality-->
    <script>
      function sortTable(n) {
        // initialize all vars to 0
        var table, rows, will_switch, i, x, y, should_switch, directionection, cnt = 0;
        table = document.getElementById("table_id2");
        will_switch = true;
        // Set sort to ascending:
        direction = "asc"; 
        // loop until all swaps done
        while (will_switch) {
          will_switch = false;
          rows = table.rows;
          // look at all rows except headers
          for (i = 1; i < (rows.length - 1); i++) {
            should_switch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            // check if a swap is necessary
            if (direction == "asc") {
              if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                should_switch = true;
                break;
              }
            } else if (direction == "desc") {
              if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                should_switch = true;
                break;
              }
            }
          }
          if (should_switch) {
            // if a switch marked, make the switch
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            will_switch = true;
            cnt ++; 
          } else {
            if (direction == "asc" && cnt == 0) {
              direction = "desc";
              will_switch = true;
            }
          }
        }
      }
      </script>
</table>

{% endblock %}