<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}

<h4 class="mb-3">Book Info</h4>
    <dl class="dl-horizontal">
        <dt>Google ID:</dt>
        <dd>{{book.Book_google_id}}</dd>

        <dt>Title:</dt>
        <dd>{{book.Book_title}}</dd>

        <dt>ISBN:</dt>
        <dd>{{book.Book_isbn}}</dd>

        <dt>Publication Date:</dt>
        <dd>{{book.Book_publication_date}}</dd>

        <dt>Image URL:</dt>
        <dd><img src="{{book.Book_image_url}}"></dd>

        <dt>Description:</dt>
        <dd>{{book.Book_description}}</dd>

        <dt>Authors:</dt>
        <!-- id is hardcoded for phase one -->
        <dd><a href="/Authors/{{book.Author_name}}">{{book.Author_name}}</dd></a>


        <dt>Publishers:</dt>
        <dd><a href="/Publishers/{{book.Publisher_name}}">{{book.Publisher_name}}</dd></a>
</dl>



{% endblock %}