<!-- Extends the layout format -->
{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link href="/static/css/bookHome.css" rel="stylesheet">
		
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Library</title>
</head>

<body>
  <h1 >
      Welcome to our Library
  </h1>

  <div class="box text-center">
    <p class="lead">“The more that you read, the more things you will know. </p>
    <p class="lead">The more that you learn, the more places you’ll go.” </p>
    <p class = "quoter">Dr Seuss<p>
  </div>


 
 
</body>

</html>

{% endblock %}

