<!-- layout file can apply to all views -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Library </title>
	
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="jquery/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/static.joinforward.io/k/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/static.joinforward.io/k/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="https://s3-us-west-2.amazonaws.com/static.joinforward.io/k/css/argon.css" rel="stylesheet">
    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 	<link href="/static/css/navOther.css" rel="stylesheet">

	</head>
	
	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
		{% block body %} {% endblock %}
		</div>

		<script src="vendor/jquery/jquery.min.js"></script>
  		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!-- Datatables -->
		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	</body>
</html> 



