<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}

<h4 class="mb-3">Publisher Info</h4>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{publisher.Publisher_name}}</dd>

        <!--<dt>Location:</dt>
        <dd>{{publisher.location}}</dd>-->

        <dt>Books:</dt>
        <dd>
        <ol>
        {% for authbooks in Author_Books %}
            <li><a href="/Books/{{authbooks.Book_id}}">{{authbooks.Book_title}}</a></li>
        {% endfor %}
        </ol>
        </dd>

        <dt>Authors:</dt>
        <dd>
        <ol>
        {% for authbooks in Author_Books2 %}
            <li><a href="/Authors/{{authbooks.Author_name}}">{{authbooks.Author_name}}</a></li>
        {% endfor %}
        </ol>
        </dd>

        <dt>Wikipedia URL:</dt>
        <dd><a href="{{publisher.Publisher_wikipedia_url}}">{{publisher.Publisher_wikipedia_url}}</a></dd>

        <dt>Owner:</dt>
        <dd>{{publisher.Publisher_owner}}</dd></a>

        <dt>Description:</dt>
        <dd>{{publisher.Publisher_description}}</dd>

        <dt>{% if publisher.Publisher_image_url %}Image:</dt>
        <dd><img style = "height:50px;" hspace="20" vspace="3" src="{{publisher.Publisher_image_url}}">{% endif %}</dd>

        <dt>{% if publisher.Publisher_website %}Website URL:</dt>
        <dd><a href="{{publisher.Publisher_website}}">{{publisher.Publisher_website}}</a>{% endif %}</dd>
</dl>



{% endblock %}