<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}

<h1>Publishers</h1>
<style>
  td {
    border: 1px solid goldenrod;
  }
</style>
<!-- Create the publishers table and its headers-->
<table style="width:100%" id="table_id" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" onclick="sortTable(0)"><i class="fas fa-sort mr-2"></i>Name</th>
      <th scope="col" onclick="sortTable(2)"><i class="fas fa-sort mr-2"></i>Owner</th>
      <th scope="col">Image</th>
      <th scope="col" onclick="sortTable(4)"><i class="fas fa-sort mr-2"></i>Website</th>
    </tr>
  </thead>
<!-- Load data for the table -->
{% for publisher in publishers%}
  <tbody>
    <tr>
    <td><div style = "width:100px; word-wrap: break-word"><a href="Publishers/{{publisher.Publisher_name}}">{{publisher.Publisher_name}}</div></td>
      <td>{{publisher.Publisher_owner}}</td>
      <td>{% if publisher.Publisher_image_url %} <div style = "word-wrap: break-word"><img style = "height:50px;" src="{{publisher.Publisher_image_url}}" hspace="20" vspace="3"></div> {% endif %} </td>         
      <td><a href={{publisher.Publisher_website}}>{{publisher.Publisher_name}}</a></td>
    </tr>
  </tbody>
  {% endfor %}
 {{ pagination.links  }}
  </tbody>

  <!-- Implement sort functionality-->
  <script>
      function sortTable(n) {
        // initialize all vars to 0
        var table, rows, will_switch, i, x, y, should_switch, directionection, cnt = 0;
        table = document.getElementById("table_id");
        will_switch = true;
        // Set sort to ascending:
        direction = "asc"; 
        // loop until all swaps done
        while (will_switch) {
          will_switch = false;
          rows = table.rows;
          // look at all rows except headers
          for (i = 1; i < (rows.length - 1); i++) {
            should_switch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            // check if a swap is necessary
            if (direction == "asc") {
              if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                should_switch = true;
                break;
              }
            } else if (direction == "desc") {
              if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                should_switch = true;
                break;
              }
            }
          }
          if (should_switch) {
            // if a switch marked, make the switch
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            will_switch = true;
            cnt ++; 
          } else {
            if (direction == "asc" && cnt == 0) {
              direction = "desc";
              will_switch = true;
            }
          }
        }
      }
      </script>
</table>

{% endblock %}