<!-- Extends the layout format -->
{% extends 'layout.html' %}
{% block body %}
<style>
  td {
    border: 1px solid goldenrod;
  }
</style>

<!DOCTYPE html>
<html lang="en">
<h1>Search</h1>

<head>
  <link href="/static/css/Search.css" rel="stylesheet">	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Library Search" content="">
  <title>Library Search</title>
</head>

<body>


  <div class="search-container">
    <form method="POST" action="/Search/">
      <input type="text" placeholder="Search.." name="search">
      <button class = "submitBtn" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>





  {% if books == [] %}
    <tbody></tbody>
    <p class = "no_res">No books found under that search criteria<p>
    {% else %}
      <table style="width:100%" id="table_id2" class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" onclick="sortTable(0)"><i class="fas fa-sort mr-2"></i>Name</th>
          <th scope="col" onclick="sortTable(1)"><i class="fas fa-sort mr-2"></i>ISBN</th>
          <th scope="col" onclick="sortTable(2)"><i class="fas fa-sort mr-2"></i>Publication Date</th>
          <th scope="col" onclick="sortTable(3)"><i class="fas fa-sort mr-2"></i>Authors</th>
          <th scope="col" onclick="sortTable(4)"><i class="fas fa-sort mr-2"></i>Publishers</th>
        </tr>
      </thead>
      {% for book in books%}
      <tbody>
        <tr>
        <td><a href="{{ url_for('.bookOne',Book_id=book.Book_id) }}">{{book.Book_title}}</td>
        <td>{{book.Book_isbn}}</td>
        <td>{{book.Book_publication_date}}</td>
        <td><a href="/Authors/{{book.Author_name}}">{{book.Author_name}}</td></a>
        <td><a href="/Publishers/{{book.Publisher_name}}">{{book.Publisher_name}}</td></a>
        </tr>
      </tbody>
    {% endfor %}
    {% endif %}
  <!-- Implement sort functionality-->
      <script>
        function sortTable(n) {
          // initialize all vars to 0
          var table, rows, will_switch, i, x, y, should_switch, directionection, cnt = 0;
          table = document.getElementById("table_id2");
          will_switch = true;
          // Set sort to ascending:
          direction = "asc"; 
          // loop until all swaps done
          while (will_switch) {
            will_switch = false;
            rows = table.rows;
            // look at all rows except headers
            for (i = 1; i < (rows.length - 1); i++) {
              should_switch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              // check if a swap is necessary
              if (direction == "asc") {
                if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                  should_switch = true;
                  break;
                }
              } else if (direction == "desc") {
                if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                  should_switch = true;
                  break;
                }
              }
            }
            if (should_switch) {
              // if a switch marked, make the switch
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              will_switch = true;
              cnt ++; 
            } else {
              if (direction == "asc" && cnt == 0) {
                direction = "desc";
                will_switch = true;
              }
            }
          }
        }
        </script>
  </table>
</body>
  {% endblock %}

